<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar about">
        <h1>Behalf Bot</h1>
        <a href="{{ url_for('home') }}">
            <button id="nav-button">Chat</button>
        </a>
    </nav>
    <main>
        <div class="container default">
            <div class="content">
                <h2>About</h2>
                <p>Behalf Bot was created by Cecilia Lopez using GPT-4 and prompt engineering. She used professional data publicly available on her LinkedIn and website to inform Behalf Bot's responses. Learn more by watching her demo.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Cecilia Lopez. All rights reserved. | Contact: lopezceciliarose at gmail dot com | Website: cerolopez.github.io</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
