<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Behalf Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar about">
        <h1>Behalf Bot</h1>
        <a href="{{ url_for('home') }}">
            <button class="button nav-button">Chat</button>
        </a>
    </nav>
    <main>
        <div id="header"><h2>About</h2></div>
        <div class="container">
            <div class="content">
                <p>Inspired by her own conversations with ChatGPT, Cecilia Lopez built Behalf Bot to help recruiters and hiring managers parse through her uniquely diverse background. She used information publicly available on her LinkedIn and website and curated data to inform Behalf Bot's responses and instructed the model how to respond for various use cases, including:</p>
                <ul>
                    <li>Users asking about experience that Cecilia does not have</li>
                    <li>Users asking about experience that Cecilia has different but related experience in</li>
                    <li>Users asking about a quality or skill that can't directly be inferred from Cecilia's LinkedIn referrals</li>
                    <li>Users asking questions a recruiter or hiring manager wouldn't ask</li>
                </ul>
                <p>You can see the Figma and the GitHub for this project below.</p>
            </div>
        </div>
        <div class="button-container">
            <a href="https://www.figma.com/proto/jF0ICriuOsl4um4eCvzERg/Behalf-Bot?node-id=1-2&p=f&t=31J9P3rJsk9tcNE9-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1%3A2" target="_blank">
                <button class="button nav-button">Figma</button>
            </a>
            <a href="https://github.com/cerolopez/behalf-bot" target="_blank">
                <button class="button nav-button">GitHub</button>
            </a>
            <!-- <button class="button nav-button">Figma</button>
            <button class="button nav-button">GitHub</button> -->
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Cecilia Lopez. All rights reserved. | Contact: lopezceciliarose at gmail dot com | Website: cerolopez.github.io</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
