<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behalf Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">


</head>
<body>
    <nav class="navbar home">
        <h1>Behalf Bot</h1>
        <a href="{{ url_for('about') }}">
            <button class="button nav-button">About</button>
        </a>
    </nav>
    <main>
        <div class="container">
            <div id="chat-box"></div>
            <div id="message-box">
                <input type="text" id="user-input" placeholder="Ask a question...">
                <button class="button send-btn" onclick="sendMessage()">Send</button>
            </div>
        </div>
        <div id="subtitle-container"><p id="subtitle">Powered by GPT-4 and custom prompt engineering. This bot does not store user data.</p></div>
    </main>
    <footer>
        <p>&copy; 2025 Cecilia Lopez. All rights reserved. | Contact: lopezceciliarose at gmail dot com | Website: <a href="https://cerolopez.github.io/">cerolopez.github.io</a></p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
